<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cdm8pf.cs2110.virginia.edu.ghosthunter" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon1"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>


        <activity
            android:name=".Easy"
            android:label="@string/app_name" >

            <intent-filter>
                <action android:name="android.intent.action.EASY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".Medium"
            android:label="@string/app_name" >

            <intent-filter>
                <action android:name="android.intent.action.MEDIUM"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".Hard"
            android:label="@string/app_name" >

            <intent-filter>
                <action android:name="android.intent.action.HARD"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>





    </application>

</manifest>
